{% extends 'base.html'%}

{% block title%}Homepage{% endblock %}

{% block content%}
<div id="index_body">
    <br>
    <br>
    <br>
    <div class="jumbotron container">
        <h1 class="display-4">Let's recommend you a game!</h1>
        <p class="lead">Welcome to this page. We know that you're stuck home in quarantine so why not try a board game. 
        To get started enter your maximum age, available time, and minimum and maximum number of players then press submit.</p>
        
        <hr class="my-4">
        <br>

        <div class="form">
            <form class= "form-inline" action="api" method="POST">
                <div class="container col col-lg-1"></div>
                <div class="container col col-sm-4 row">
                    <select name="time" class="form-control  mb-4 mr-sm-2 form-control-lg col col-lg-8" placeholder="Select time">
                        <option>Duration (in min)</option>
                        <option>15</option>
                        <option>30</option>
                        <option>45</option>
                        <option>60</option>
                        <option>75</option>
                        <option>90</option>
                        <option>120</option>
                        <option>180</option>
                        <option>240</option>
                        <option>360</option>
                    </select>
                </div>
                <div class="container col col-sm-4 row">
                    <select name= "min_players" class="form-control  mb-4 mr-sm-2 form-control-lg col col-lg-8" placeholder="Select min number of players" >
                        <option>Min Players</option>
			<option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                    </select>
                </div>

                <div class="container col col-sm-4 row">
                    <select name="max_player" class="form-control  mb-4 mr-sm-2 form-control-lg col col-lg-8" placeholder="Select max number of players">
                        <option>Max Players</option>
                        <option>1</option>
			<option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                    </select>
                </div>
                
                <select name="age" class="form-control  mb-4 mr-sm-2 form-control-lg col col-lg-4" placeholder="Select age">
                    <option>Maximum Age</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                </select>

                <label name="difficulty" for="difficulty" class="form-label px-2">Difficulty</label>
                    <input name="difficulty" type="range" class="form-range" min="0" max="1" step="0.2" value="0.5" id="difficulty">

                <label name="popularity" for="popularity" class="form-label px-2">Popularity</label>
                    <input name="popularity" type="range" class="form-range" min="0" max="1" step="0.2" value="0.5" id="popularity">

		<input type="hidden" name="result" value="1">                

                <div class="container col col-lg-24"> 
                    <button style="background-color: #389CFA" type="submit" class="btn btn-info btn-lg ">Submit</button>
                </div>
            
                <div class="container col col-lg-1"></div>
            
            </form>
        </div>
    </div>
</div>
{% endblock %}
